---
---

@font-face {
    font-family: "Cantarell";
    src:
        url('/assets/fonts/Cantarell-VF.woff2') format('woff2'),
        url('/assets/fonts/Cantarell-VF.woff') format('woff');
    font-display: swap;
}

$body-font: Cantarell, sans-serif;

@import "{{ site.theme }}";